{% extends "layout.html" %}


{% block content %}
<!--    <script type="text/javascript" src="/JAVASCRIPT/index.js"></script>-->
<div id="wrapper">
    <div id="wrapper-item">
        <a href="/" class="wrapper-item">Home</a>
        <a href="/" class="wrapper-item">Projects</a>
        <a href="/" class="wrapper-item">About </a> 
        <a href="/" class="wrapper-item">Contact Us</a> 
    </div>
    <div id="wrapper-background-pattern"></div>
    <div id="wrapper-background-image"></div>
</div>  

{% endblock content %}